@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-open-sans), sans-serif;
    @apply font-light;
  }
}

@layer utilities {
  .bg-img-home {
    background-image: url('../assets/fundo-home.jpeg');
    @apply bg-cover bg-center bg-no-repeat min-h-screen;
  }

  .bg-img-calc {
    background-image: url('../assets/fundo-calc.jpeg');
    @apply bg-cover bg-center bg-no-repeat min-h-screen;
  }

  .bg-img-projeto {
    background-image: url('../assets/fundo-projeto.jpeg');
    @apply bg-cover bg-center bg-no-repeat min-h-screen;
  }

  .bg-img-equipe {
    background-image: url('../assets/fundo-equipe.jpeg');
    @apply bg-cover bg-center bg-no-repeat min-h-screen;
  }
}

@layer components {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-quicksand), sans-serif;
    @apply font-bold;
  }

  .linksnav {
    @apply text-lg transition duration-300 hover:text-gray-400 py-2 md:py-0 px-4;
  }

  .card-style {
    @apply bg-white shadow-lg rounded-lg p-6 flex flex-col items-center space-y-4 text-corCinza w-full;
  }

  .botao-principal {
    @apply bg-corVerdeFolha text-white px-4 py-2 rounded-md hover:bg-corVerdeFolhaHover transition duration-300;
  }

  .botao-secundario {
    @apply bg-corTurquesa text-white px-4 py-2 rounded-md hover:bg-corTurquesaHover transition duration-300;
  }

  .dark-overlay {
    @apply bg-black bg-opacity-60 p-6 rounded-lg text-corCinzaClaro;
  }

  .nav-btn {
    @apply text-corCinza hover:text-corVerdeFolha transition duration-300 bg-white p-2 rounded-full;
  }

  .secao-img {
    @apply flex items-center justify-center px-4 sm:px-8 md:px-16 pt-20;
  }
}
